<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="header">
      <!-- <ion-icon class="menu-icon" name="menu-outline"></ion-icon> -->
      <div style="flex: 1;
      text-align: center;">
       Return and Refund Policy
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div style="    text-align: left;
  margin: 22px 10px;
  line-height: 28px;">
Fresh From Vypin have a return policy which entitles all our customers to return the product at the time of delivery or within a period of 45 minutes therefrom, if due to some reason they are not satisfied with the quality or freshness of the product or services from the Company. For product quality related matters, we will take the returned product back and issue another set of the same product if available. If the customer is not willing to accept the product again, the same amount will be paid back which can be used for your future purchases in Fresh From Vypin(But it will depend upon the payment method done by the customer). Company reserves the right to decide upon the return policy and can withdraw/modify the policy at any given time without any prior notice. Any misuse of the Return Policy will not be entertained and suitable action will be taken thereupon.
  </div>

</ion-content>
