<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="header">
      <!-- <ion-icon class="menu-icon" name="menu-outline"></ion-icon> -->
      <div style="flex: 1;
      text-align: center;">
        About Us
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<div style="    text-align: left;
margin: 22px 10px;
line-height: 28px;">
  We Fresh From Vypin is a new venture. We are located in the centre of Vypin Island, Edavanakad.
  We promise to serve fresh fish, meat and organic chicken to your doorstep. Hope we can specially serve fresh fish because we are surrounded by a lot of fresh fish farms.
  Fresh from Vypin is 100% nature friendly, because We are not using any plastic items in any of our packing.
</div>
</ion-content>
